.profile {
    margin: 0;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
}

table {
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #d9deea;
    padding: 8px 12px;
}

.left-profile {
    display: block;
    margin-bottom: 20px;
    align-items: baseline;
}

.right-profile {
    display: block;
    margin-bottom: 20px;
    align-items: end;
}
