{% extends 'base.html' %}
{% block title %}Помощь{% endblock %}
{% block content %}
<h1>Как играть</h1>
<ul>
    <li>Откройте доступный уровень на главной странице.</li>
    <li>Справа напишите команды Python-стиля: <code>left()</code>, <code>right()</code>, <code>up()</code>, <code>down()</code>.</li>
    <li>Нажмите кнопку «Выполнить код» и доведите персонажа до финиша.</li>
    <li>За каждый уровень можно получить до 3 звёзд: за прохождение, скорость и лаконичный код.</li>
</ul>
{% endblock %}
